<%- include('../partials/navigation.ejs') %>

<p class="__top_text">Op deze pagina kun je een project bewerken. <br/>
   Het is de bedoeling dat je na het exporteren zelf nog extra's toevoegd!</p>

<h2 class="content-heading">Bewerk project</h2>

<div class="row">
  <div class="col-md-12">
    <div class="block">
      <div class="block-content">
        <form class="form-horizontal push-20-t" method="post" enctype="multipart/form-data">
          <div class="form-group">
            <div class="col-xs-12">
              <div class="form-material">
                <input class="form-control" type="text" value="<%=project.title%>" id="title" name="title">
                <label for="title">Titel</label>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="col-xs-12">
              <div class="form-material">
                <input class="form-control" type="file" value="<%=project.picture%>" id="project_picture" name="project_picture">
                <label for="project_picture">Afbeelding</label>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="col-xs-12">
              <div class="form-material">
                <textarea class="form-control" id="intro" name="intro" rows="5"><%=project.intro%></textarea>
                <label for="intro">Introductie</label>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="col-xs-12">
              <div class="form-material">
                <textarea class="form-control" id="description" name="description" rows="10"><%=project.description%></textarea>
                <label for="description">Omschrijving</label>
              </div>
            </div>
          </div>
          <div class="form-group submit">
            <div class="col-xs-12">
              <button class="btn btn-sm btn-black" id="submitAbout" type="submit">Wijzigingen opslaan</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<%- include('../partials/navigation-footer.ejs') %>
