<%- include('../partials/navigation.ejs') %>

<p class="__top_text">Dit is het overzicht met al jouw projecten die je wilt laten zien. <br/>
   Je kunt ze hier bewerken, verwijderen maar natuurlijk ook nieuwe toevoegen.</p>

<h2 class="content-heading">Jouw projecten</h2>

<% if(projecten.length > 0) { %>
  <div class="row">
    <% projecten.forEach(function(project) { %>
      <div class="col-md-4 animated fadeIn __project" data-toggle="appear" data-offset="50" data-class="animated fadeIn">
        <span class="block block-link-hover2">
          <!-- <img class="img-responsive" src="<%=project.picture%>" alt=""> -->
          <div class="__project_image" style="background: url('<%=project.picture%>') center center no-repeat"></div>
          <div class="block-content">
            <h4 class="push-10"><%=project.title%></h4>
            <p><%=project.intro.substr(0, 100)%></p>
            <div class="__buttons">
              <a class="btn btn-sm btn-black" onclick="showTemplateError()" href="/dashboard/projecten/delete/<%=project.id%>">Verwijderen</a>
              <a class="btn btn-sm btn-black pull-right" onclick="showTemplateError()" href="/dashboard/projecten/bewerk/<%=project.id%>">Bewerken</a>
            </div>
          </div>
        </span>
      </div>
    <% }) %>
  </div>
  <a class="btn btn-black" href="/dashboard/projecten/nieuw/<%=projecten.length + 1%>">Voeg een project toe</a>
<% } else { %>
  <p>Zo te zien heb je nog geen projecten aangemaakt!</p>
  <a class="btn btn-black" href="/dashboard/projecten/nieuw/1">Maak je eerste project</a>
<% } %>

<%- include('../partials/navigation-footer.ejs') %>

<% if(error != false) { %>
  <script>
    toastr["success"]("<%=error.message%>", "<%=error.title%>")
  </script>
<% } %>
