<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>CMD Portfolio</title>

  <link type="text/css" rel="stylesheet" href="./assets/css/bootstrap.min.css" />
  <link type="text/css" rel="stylesheet" href="./assets/css/style.css" />

</head>
<body>

  <header>
    <div class="container-fluid">
      <section class="header">
        <div class="row">
          <div class="col-sm-12 col-md-6">
            <h1 class="cmd-orange">Hi.</h1>
            <h1>I am <%=user.data.name%></h1>
          </div>
          <div class="col-sm-12 col-md-6 center">
            <img src="./assets<%=user.data.about.picture%>" class="photo img-circle"/>
          </div>
        </div>
      </section>
    </div>
  </header>

  <main>
    <div class="container-fluid projects-container">
        <section class="projects">
          <div class="row">
          <% projecten.forEach(function(project, index) { %>
              <div data-open='<%=(index + 1)%>' class="col-xs-12 col-sm-6 col-md-4 marginless project">
                <img src="./assets<%=project.picture%>" />
              </div>
          <% }) %>
        </div>
        </section>
      </div>
      <div class="container-fluid about-container">
        <section class="about">
          <div class="row">
            <div class="col-sm-12 col-md-6">
              <h1>About</h1>
              <p><%=user.data.about.about%></p>
            </div>
            <div class="col-sm-12 col-md-6 __education">
              <h1>Education</h1>
              <ul>
                <% for(let key in user.data.about.education) { %>
                  <li>
                    <div class="row">
                      <div class="col-sm-2">
                        <%= user.data.about.education[key]['year'] %>
                      </div>
                      <div class="col-sm-10">
                        <%= user.data.about.education[key]['title'] %>
                      </div>
                    </div>
                  </li>
                <% } %>
              </ul>
            </div>
          </div>
          <div class="row skills">
            <!-- <div class="item col-xl-12 intro">
              <h1>Skills</h1>
            </div> -->
            <% for(let key in user.data.about.skills) { %>
              <div class="item col-xs-12 col-sm-6 col-md-3">
                <img src="./assets<%= user.data.about.skills[key]['picture'] %>" />
                <h2><%= user.data.about.skills[key]['name'] %></h2>
                <p><%= user.data.about.skills[key]['about'] %></p>
              </div>
            <% } %>
          </div>
          <div class="row">
            <div class="col-sm-12 col-md-6">
              <h1>Work Experience</h1>
              <p><%=user.data.about.experience%></p>
            </div>
          </div>
        </section>
        <section class="socials">
          <ul>
            <li><a href="mailto:<%=user.data.email%>?subject=Reactie%20op%20je%20portfolio">Send me an e-mail</a></li>
            <%if(user.data.about.behance.length > 0){%><li><a href="<%=user.data.about.behance%>" target="_blank">Behance</a></li><%}%>
            <%if(user.data.about.dribbble.length > 0){%><li><a href="<%=user.data.about.dribbble%>" target="_blank">Dribbble</a></li><%}%>
            <%if(user.data.about.linkedin.length > 0){%><li><a href="<%=user.data.about.linkedin%>" target="_blank">LinkedIn</a></li><%}%>
          </ul>
        </section>
    </div>

    <% projecten.forEach(function(project, index) { %>
      <div class="project-section" id="project_<%=(index + 1)%>">
        <section>
          <p class="close" data-close='<%=(index + 1)%>'>X</p>
          <div class="row">
            <div class="col-sm-8 __picture">
              <img src="./assets<%=project.picture%>" class="main-img" />
            </div>
            <div class="col-sm-8 __info">
              <h1><%=project.title%></h1>
              <strong><%=project.intro%></strong>
              <p><%=project.description%></p>
            </div>
          </div>
        </section>
      </div>
    <% }) %>

  </main>

  <footer>
    <div class="container-fluid">
      <p class="copyright">&copy; <%=user.data.name%> - <span id="copyYear"></span></p>
    </div>
  </footer>

  <script type="text/javascript" rel="javascript" src="./assets/js/vendor/jquery-3.3.1.min.js"></script>
  <script type="text/javascript" rel="javascript" src="./assets/js/vendor/bootstrap.min.js"></script>
  <script type="text/javascript" rel="javascript" src="./assets/js/script.js"></script>

</body>
</html>
